* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
/* for the Header and nav bar */
header {
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  display: grid;
  padding: 2rem;
  background-color: #810bc6;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.header {
  background-color: #810bc6;
  color: white;
}

a:hover {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  margin: 3vh;
}

.nav-bar {
  color: white;
}

ul {
  list-style-type: none;
}

/* For the homepage */
.homepage {
  display: grid;
  grid-template-columns: auto 50rem;
  grid-template-rows: 5rem auto auto;
}

#welcome-title {
  grid-column-start: 1;
  grid-column-end: 3;
}

#welcome-text {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.highlighted-reviews {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.highlighted-review {
  background-color: lightblue;
  margin: 3rem;
  border-radius: 100%;
  padding: 2rem;
  color: red;
}

.highlighted-container {
  color: white;
  background-color: blue;
  border-radius: 10px;
}

/* all images */
img {
  height: 8rem;
  width: 8rem;
}

/* All reviews */

.all-reviews-review {
  background-color: blue;
  color: white;
  border-radius: 5%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 30vw;
  margin-left: 30vw;
}

/* REview and comments*/

/* review part */
.review-container {
  display: grid;
  grid-template-columns: auto 20vw auto;
  grid-template-rows: auto auto auto auto auto auto;
  margin: 2rem;
}

#review-image {
  width: 40vw;
  height: 40vh;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 1rem;
}

#review-body {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: crimson;
  color: white;
  padding: 1rem;
  border-radius: 0px 0px 10px 10px;
}

#review-title {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: crimson;
  color: white;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
}
#review-owner {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  margin: 1rem;
  padding: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;
  background-color: darkred;
  border-radius: 10px;
}
#review-designer {
  margin: 1rem;
  padding: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;
  background-color: darkred;
  border-radius: 10px;
}
#review-votes {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  margin: 1rem;
  background-color: gold;
  color: white;
  margin-left: 40rem;
  margin-right: 40rem;
  padding: 2rem;
  border-radius: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
}
#review-votes:hover {
  color: whitesmoke;
  background-color: darkgoldenrod;
}

#review-category {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  margin: 1rem;
  padding: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;
  background-color: darkred;
  border-radius: 10px;
}

#review-vote-err {
  color: red;
}

/* comment part */
.review-comment {
  background-color: crimson;
  color: white;
  margin: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 1rem;
  border-radius: 10px;
}

#comment-votes {
  background-color: gold;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  border-radius: 10px;
}

#comment-date {
  background-color: black;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 5px;
}

#post-comment {
  color: black;
}

.comment-form {
  background-color: lightcoral;
  border-radius: 5px;
  margin-left: 25rem;
  margin-right: 25rem;
  padding: 2rem;
}

#username-input {
  margin: 2rem;
}
#textarea-input {
  margin: 2rem;
}

#post-comment {
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
  padding: 1rem;
}
