* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
/* for the Header and nav bar */
header {
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  display: grid;
  padding: 2rem;
  background-color: #810bc6;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.header {
  background-color: #810bc6;
  color: white;
}

a:hover {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  margin: 3vh;
}

.nav-bar {
  color: white;
}

ul {
  list-style-type: none;
}

/* For the homepage */
.homepage {
  display: grid;
  grid-template-columns: auto 50rem;
  grid-template-rows: 5rem auto auto;
}

#welcome-title {
  grid-column-start: 1;
  grid-column-end: 3;
}

#welcome-text {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.highlighted-reviews {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.highlighted-review {
  background-color: lightblue;
  margin: 3rem;
  border-radius: 100%;
  padding: 2rem;
  color: red;
}

.highlighted-container {
  color: white;
  background-color: blue;
  border-radius: 10px;
}

/* all images */
img {
  height: 8rem;
  width: 8rem;
}

/* All reviews */

.all-reviews-review {
  background-color: blue;
  color: white;
  border-radius: 5%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 30vw;
  margin-left: 30vw;
}
